html, body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(162, 210, 231);
}

.search-result{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container{
    background-color: rgb(162, 210, 231);

    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover{
    color: rgb(51, 92, 255);
    text-decoration: underline;
}