<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marathon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}
    {% endblock %}
  </head>


  <body>

    <div class="background">

      <nav>
        <div class="barcontainer">
          <h1 class="title"><a href="{{ url_for('home') }}">FlexFix</a></h1>

          <form action="{{ url_for('search') }}" method="POST" class="form">
            <input class="searchbar" type="text" name="query" placeholder="Search Film,Genre,Actor..." value="{{ query }}" required>
            <button type="submit" id="searchbtn"><img class="searchbtn" src="{{ url_for('static', filename='images/search-btn.png') }}" alt="search button" height="24px" width="24px"></button>
          </form>
        </div>

        <div class="sidebar" id="mysidebar">
          <!-- Button to hide the sidebar -->
          <button type="button" id="hidesidebar">
            <img src="{{ url_for('static', filename='images/close-sidebar-btn.png') }}" alt="Close Sidebar" height="24px" width="24px">
          </button>

          <!-- Sidebar Navigation Links -->
          <ul class="sidebar-nav">
            <li class="home"><a href="{{ url_for('home') }}">Home</a></li>
            {% if session.get('user_id') %}
              {% if session.get('is_admin') %}
                <li class="admin"><a href="{{ url_for('admin_dashboard') }}">Admin</a></li>
              {% else %}
                <li class="account"><a href="{{ url_for('user_profile', user_id=session['user_id']) }}">Account</a></li>
              {% endif %}
              <li class="logout"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
              <li class="login"><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
          </ul>
        </div>


      </nav>

        <!-- <header>
          {% block header %}
          {% endblock %}
        </header> -->


      <main>
        <div class="navbar">
          <button type="submit" id="showsidebar"><img src="{{ url_for('static', filename='images/show-sidebar-btn.png') }}" alt="sidebar button" height="24px" width="24px"></button>
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flash-messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %} -->


        {% block content %}
        {% endblock %}
      </main>

      <aside>
        {% block aside %}
        {% endblock %}
      </aside>

      <footer>
        <p>Last updated: 30/09/24 &copy; 2024</p>
      </footer>

      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </div>
  </body>
</html>
