{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
  <h1 class="header-h1">FlickFix</h1>

{% endblock %}


{% block aside %}

<p class="follow"><strong>Follow me!</strong></p>
<div class="socials">
    <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='images/insta.png') }}" alt="instagram logo" width="15px" height="15px"></a>
    <a href="https://twitter.com/"><img src="{{ url_for('static', filename='images/x.png') }}" alt="x logo" width="15px" height="13px"></a>
    <a href="https://www.facebook.com/"><img src="{{ url_for('static', filename='images/fb.png') }}" alt="facebook logo" width="15px" height="15px"></a>
</div>
{% endblock %}