{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}


{% block content %}

  <div class="slideshow-container">
    {% if movies %}
      {% for movie in movies %}
        <div class="movie">
          <h2>{{ movie.title }}</h2>
          <p>Release Year: {{ movie.release_year }}</p>
          <p>Actors: {{ movie.actors }}</p>
          <p>Plot: {{ movie.plot }}</p>
          <img src="{{ movie.poster_url }}" alt="Poster for {{ movie.title }}" width="150" height="225">
        </div>
      {% endfor %}
    {% else %}
      <p>No movies available.</p>
    {% endif %}

    <button class="prev" type="button">&#10094;</button>
    <button class="next" type="button">&#10095;</button>

  </div>

{% endblock %}


{% block aside %}

{% endblock %}